<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>A Propos Nous/Smart For Green</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="icon" type="image/png" href="static/img/icon/logo_S4G.png">
    <!--------------- Google Web Fonts --------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">  
    <!--------------- Icon Font Stylesheet ------------>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-------------- Libraries Stylesheet ------------>
    <link href="static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <!------------- Customized Bootstrap Stylesheet ------------>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!------------- Template Stylesheet ------------>
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
<!------------------------------ Spinner Start ------------------>
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
     </div>
<!------------------------------- Spinner End ------------------------>

<!-------------------------------Topbar Start ------------------------>
<div class="container-fluid bg-dark text-light px-0 py-2">
     <div class="row gx-0 d-none d-lg-flex">
         <div class="col-lg-7 px-5 text-start">
              <div class="h-100 d-inline-flex align-items-center me-4">
                    <span class="fa fa-phone-alt me-2"></span>
                    <span>+216 93 26 75 45</span>
              </div>
              <div class="h-100 d-inline-flex align-items-center">
                    <span class="far fa-envelope me-2"></span>
                    <span>contact@smartforgreen.com</span>
              </div>
           </div>
         <div class="col-lg-5 px-5 text-end">
             <div class="h-100 d-inline-flex align-items-center mx-n2">
                    <span>Suivez-Nous:</span>
                    <a class="btn btn-link text-light" href="https://www.facebook.com/SmartForGreen"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-link text-light" href="https://www.linkedin.com/company/smart4green/"><i class="fab fa-linkedin-in"></i></a>
              </div>
         </div>
      </div>
  </div>
<!-------------------------------- Topbar End -------------------------->
 
<!-------------------------------- Navbar Start ------------------------>
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="Home" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <img src="/static/img/logo_S4G.png" alt="Smart For Green Logo" class="me-2" height="65"> 

            <h1 class="m-0">Smart For Green</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="Home" class="nav-item nav-link ">Home</a>
                <div class="nav-item dropdown">
                    <a href="services" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Nos Sevices</a>
                    <div class="dropdown-menu bg-light m-0">
                        <a href="monotoriat" class="dropdown-item ">Monitoriat Des Usines</a>
                        <a href="protect_f" class="dropdown-item">Protection Des Forets</a>
                    </div>
                </div>
                <a href="about" class="nav-item nav-link active">A Propos Nous</a>
                <a href="contact" class="nav-item nav-link ">Contactez-Nous</a>
            </div>
            <a href="login" class="btn btn-primary py-4 px-lg-4 rounded-0 d-none d-lg-block">Se Connecter<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
</nav>
<!-------------------------------------- Navbar End -->


<!-- Page Header Start -->
<div class="container-fluid page-header py-3 mb-1.5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white mb-4 animated slideInDown">Smart For Green</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Smart For Green, Des solutions AgriTech pour un avenir durable.</a></li>

            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-end">
            <div class="col-lg-3 col-md-5 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid rounded" data-wow-delay="0.1s" src="static/img/aboutFire.jpg">
            </div>
            <div class="col-lg-6 col-md-7 wow fadeInUp" data-wow-delay="0.3s">
                <h1 class="display-1 text-primary mb-0">Smart For Green</h1>
                <p class="text-primary mb-4"></p>
                <h1 class="display-5 mb-4">Nous Écoutons La Nature</h1>
                <p class="mb-4">Smart For Green, spécialisée en AgriTech, développe des solutions digitales pour protéger les ressources naturelles contre les incendies.</p>
                <a class="btn btn-primary py-3 px-4" href="services">Explore More</a>
            </div>
            <div class="col-lg-3 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row g-5">
                    <div class="col-12 col-sm-6 col-lg-12">
                        <div class="border-start ps-4">
                            <i class="fa fa-award fa-3x text-primary mb-3"></i>
                            <h4 class="mb-3">Prix Remporté</h4>
                           </span>Première place au Tunisia Digital Summit</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-12">
                        <div class="border-start ps-4">
                            <i class="fa fa-users fa-3x text-primary mb-3"></i>
                            <h4 class="mb-3">Notre Equipe</h4>
                            <span>Une équipe fondatrice de Neuf membres , Comprenant un Docteur, Des ingénieurs et Des étudiants en ingénierie, spécialisés dans le domaine IT</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------------- About End ----------------------->

<!------------------------------------- Service End --------->
    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="fs-5 fw-bold text-primary">Nos Principes</p>
                <h1 class="display-5 mb-5">Nos Principes qu'ont suivent</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded d-flex h-100">
                        <div class="service-img rounded">
                            <img class="img-fluid" src="img/service-1.jpg" alt="">
                        </div>
                        <div class="service-text rounded p-5">
                            <div class="btn-square rounded-circle mx-auto mb-3">
                                <img class="img-fluid" src="static/img/icon/icon-11.png" alt="Icon">
                            </div>
                            <h4 class="mb-3">Vision</h4>
                            <p class="mb-4">Notre vision est de devenir le leader mondial des technologies environnementales en transformant la manière dont nous interagissons avec notre planète. Nous aspirons à façonner un avenir durable où les communautés prospèrent grâce à une utilisation responsable des ressources naturelles et à une préservation active de la biodiversité.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded d-flex h-100">
                        <div class="service-img rounded">
                            <img class="img-fluid" src="img/service-2.jpg" alt="">
                        </div>
                        <div class="service-text rounded p-5">
                            <div class="btn-square rounded-circle mx-auto mb-3">
                                <img class="img-fluid" src="static/img/icon/icon-12.png" alt="Icon">
                            </div>
                            <h4 class="mb-3">Objectif</h4>
                            <p class="mb-4">ojze  fkjqkk  jtfaezi fjqpofj ueznfop jfi oqnqr upjqez jgmjqz ngkqn gfoqezn g _jezqj gjz qejlgj</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded d-flex h-100">
                        <div class="service-img rounded">
                            <img class="img-fluid" src="img/service-2.jpg" alt="">
                        </div>
                        <div class="service-text rounded p-5">
                            <div class="btn-square rounded-circle mx-auto mb-3">
                                <img class="img-fluid" src="static/img/icon/icon-13.png" alt="Icon">
                            </div>
                            <h4 class="mb-3">Mission</h4>
                            <p class="mb-4">Nous nous engageons à développer des outils numériques de pointe pour préserver les écosystèmes fragiles et favoriser une cohabitation harmonieuse entre l'homme et la nature.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--------------------------------------- Service End ------------------------------->
<!--------------------------------------- Team Start --------------------------------->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-bold text-primary">Notre Equipe</p>
            <h1 class="display-5 mb-5">Equipe Dévoués & Expérimentés</h1>
        </div>
        <div class="row g-4">
            <!-----Mr.Karim---->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="static/img/team1.jpg" alt="">
                    <div class="team-text">
                        <h4 class="mb-0">FATTHALLAH Karim</h4>
                        <p class="text-primary">CEO Smart 4 Green</p>
                        <p class="text-primary">Docteur en IoT pour l'agriculture et Enseignant à l'ISGB</p>
                        <div class="team-social d-flex">
                            <a class="btn btn-square rounded-circle me-2" href="https://www.linkedin.com/in/dr-karim-fathallah/"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square rounded-circle me-2" href="https://www.facebook.com/karim.fathallah.1979"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!---------Si Med Ali-------->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="static/img/team2.jpg" alt="">
                    <div class="team-text">
                        <h4 class="mb-0">FATTHALLAH Med Ali</h4>
                        <p class="text-primary">Ingénieur en Intelligence Artificielle</p>
                        <p class="text-primary">Data Scientiste</p>
                        <div class="team-social d-flex">
                            <a class="btn btn-square rounded-circle me-2" href="https://www.linkedin.com/in/mohamed-ali-fathallah/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
             <!---------Si Med Hedi-------->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="static/img/team3.jpg" alt="">
                    <div class="team-text">
                        <h4 class="mb-0">Wardi Aymen</h4>
                        <p class="text-primary">Etudiant ISET'Com Tunis</p>
                        <p class="text-primary"></p>
                        <div class="team-social d-flex">
                            <a class="btn btn-square rounded-circle me-2" href="https://www.linkedin.com/in/medhedimellekh/"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square rounded-circle me-2" href="https://www.facebook.com/MedHediMellekh"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
             <!---------Si Nader-------->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="static/img/team4.jpg" alt="">
                    <div class="team-text">
                        <h4 class="mb-0">SAHLI Nader</h4>
                        <p class="text-primary">Growth Hacker</p>
                        <p class="text-primary">Digital Marketing Manager</p>
                        <div class="team-social d-flex">
                            <a class="btn btn-square rounded-circle me-2" href="https://www.linkedin.com/in/nader-sahli007/"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square rounded-circle me-2" href="https://www.facebook.com/Nader.Sah"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
             <!---------Si Sabri-------->
             <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="static/img/team5.jpg" alt="">
                    <div class="team-text">
                        <h4 class="mb-0">SAHLI Sabri</h4>
                        <p class="text-primary">Ingénieur de Développement Embarqué & IoT</p>
                        <div class="team-social d-flex">
                            <a class="btn btn-square rounded-circle me-2" href="https://www.linkedin.com/in/sabri-sahli-67b71590/"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square rounded-circle me-2" href="https://www.facebook.com/sabri.sahli2"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
             <!---------Si Hamdi-------->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="static/img/team7.jpg" alt="">
                    <div class="team-text">
                        <h4 class="mb-0">MOUSSA Hamdi</h4>
                        <p class="text-primary">Ingénieur Electronique</p>
                        <div class="team-social d-flex">
                            <a class="btn btn-square rounded-circle me-2" href="https://www.linkedin.com/in/hamdi-moussa/"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square rounded-circle me-2" href="https://www.facebook.com/profile.php?id=100008354713997"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
             <!---------Si Wael FATHALLAH-------->
             <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="static/img/team6.jpg" alt="">
                    <div class="team-text">
                        <h4 class="mb-0">FATTHALLAH Wael</h4>
                        <p class="text-primary">Ingénieur Developpement Mobile</p>
                        <div class="team-social d-flex">
                            <a class="btn btn-square rounded-circle me-2" href="https://www.linkedin.com/in/fathallahwael/"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-square rounded-circle me-2" href="https://www.facebook.com/Wael.Fathallah.TN"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
             <!---------------->

        </div>
    </div>
</div>
<!-- Team End -->

<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Nos Bureaux</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>2083,Tecchnopole El Ghazela, Ariana, Tunisie</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>7070,Ras Jebel, Bizerte, Tunisie</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+216 93 26 75 45</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>contact@smartforgreen.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href="https://www.linkedin.com/company/smart4green/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href="https://www.youtube.com/@smartforgreen"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href="https://www.facebook.com/SmartForGreen"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Nos Services</h4>
                <a class="btn btn-link" href="monotoriat">Monitoriat Des Usines</a>
                <a class="btn btn-link" href="protect_f">Protection Des Forets</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Liens Rapides</h4>
                <a class="btn btn-link" href="login">Se Connecter</a>
                <a class="btn btn-link" href="about">A Propos Nous</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Voulez-Vous Profiter de Nos Services?</h4>
                <a class="btn btn-link" href="contact"> Contactez-Nous</a>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!------------------------------- Copyright Start -->
<div class="container-fluid copyright py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="border-bottom" href="Home">Smart 4 Green</a>, Tous Droits Réservés.
            </div>
            <div class="col-md-6 text-center text-md-end">
                Designed By <a class="border-bottom" href="">WARDI & ELJ</a>
            </div>
        </div>
    </div>
</div>
<!-------------------------------------- Copyright End -->

<!--------------------- Back to Top Fleshe -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
<!-------------------- Back to Top Fleshe -->

<!------------------------------------------- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="static/lib/wow/wow.min.js"></script>
<script src="static/lib/easing/easing.min.js"></script>
<script src="static/lib/waypoints/waypoints.min.js"></script>
<script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="static/lib/counterup/counterup.min.js"></script>
<script src="static/lib/parallax/parallax.min.js"></script>
<script src="static/lib/isotope/isotope.pkgd.min.js"></script>
<script src="static/lib/lightbox/js/lightbox.min.js"></script>
<!------------------------------------------- JavaScript Libraries -->
<!------------------------------------------ Template Javascript -->
<script src="static/js/main.js"></script>
<!------------------------------------------ Template Javascript -->
</body>
</html>